<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">← Atrás</ion-button>
      <ion-button (click)="irAInicio()">🏠 Inicio</ion-button>
    </ion-buttons>
    <ion-title>{{ personaje.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="personaje">
  <ion-card>
    
    <img *ngIf="personaje.img" [src]="personaje.img" alt="{{ personaje.name }}">

    <ion-card-header>
      <ion-card-title>{{ personaje.name }}</ion-card-title>
      <ion-card-subtitle>{{ personaje.job }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Edad:</strong> {{ personaje.age }}</p>
      <p><strong>Altura:</strong> {{ personaje.size }}</p>
      <p><strong>Recompensa:</strong> {{ personaje.bounty }}</p>
      <p><strong>Estado:</strong> {{ personaje.status }}</p>
      <p><strong>Tripulación:</strong> {{ personaje.crew?.name }}</p>
    </ion-card-content>
  </ion-card>

  
  <ion-card *ngIf="personaje.fruit">
    <img *ngIf="personaje.fruit.filename" [src]="personaje.fruit.filename" alt="{{ personaje.fruit.name }}">

    <ion-card-header>
      <ion-card-title>{{ personaje.fruit.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Tipo:</strong> {{ personaje.fruit.type }}</p>
      <p><strong>Descripción:</strong> {{ personaje.fruit.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

